/* CartDrawer.css */
.cart-drawer {
  position: fixed;
  left: 0;
  top: 0;
  width: 25%;
  height: 100vh;
  background-color: #f9f9f9;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  overflow-y: auto;
  z-index: 999;
  direction: rtl;
    color: black;

}

.close-btn {
  background: none;
  border: none;
  font-size: 1.2em;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.cart-item {
  border-bottom: 1px solid #0420fa;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.cart-item input {
  margin: 5px 0;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}

.total {
  font-weight: bold;
  margin-top: 20px;
}

.checkout-btn {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  background-color: #1976d2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.checkout-btn:hover {
  background-color: #1565c0;
}
